{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container" id="desk">

        <div class="desk" id="deskTweets">
            <button class="btn btn-danger" id="detenerTweets">Pausar</button>
            <input type="hidden" name="ultimoTweet" id="ultimoTweet" value="0">
            <h1>Twitter</h1>
        </div>
        <div class="desk" id="deskHackDash">
            {# <button class="btn btn-danger" id="deteneHackDash">Pausar</button> #}
            <h1>HackDash</h1>
        </div>
        <div class="desk" id="deskTimer">
            <div id="timer-cont">
                <span id="timer"></span>
            </div>

        </div>
    </div>


        <div class="tweet col-md-12" id="template" style="display:none">

            <div class="user">
                <img class="img-responsive img-thumbnail img-profile"  src=""/>
                <div class="user-text"></div>
                <div class="user-name"></div>
                <div class="meta">
                    <span class="fecha"></span>
                    <span class="retweet"></span>
                    <span class="fav"></span>
                </div>
            </div>
            <div class="text"></div>
            <div class="url-media"></div>
        </div>
{% endblock %}

{% block extra_body %}
    <script src="{% static 'js/jquery.timer.js' %}"></script>
    <script src="{% static 'js/jquery.cycle.all.js' %}"></script>

    <script type="text/javascript">
        String.prototype.linkify_tweet = function() {
                var tweet = this.replace(/(^|\s)@(\w+)/g, "$1@<a href='http://www.twitter.com/$2'>$2</a>");
           return tweet.replace(/(^|\s)#(\w+)/g, "$1#<a href='https://twitter.com/search?q=%23$2'>$2</a>");
         };

        function pad(number, length) {
            var str = '' + number;
            while (str.length < length) {str = '0' + str;}
            return str;
        }
        function formatTime(time) {
            var hour = parseInt(time / 360000),
                min = parseInt(time / 6000) - (hour * 60),
                sec = parseInt(time / 100) - (min * 60) - (hour * 3600),
                hundredths = pad(time - (sec * 100) - (min * 6000), 2) - (hour * 360000);
            return (hour > 0 ? pad(hour, 2) : "00") + ":" + (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2) + ":" + (hundredths > 0 ? pad(hundredths, 2) : "00");
        }

        var HackTimer = function() {
            var self = this;
            this.$countdown = $('#timer');
            this.incrementTime = 20,
            this.updateTimer = function() {
                self.$countdown.html(formatTime(self.currentTime));
                if (self.currentTime == 0) {
                    self._timer.stop();
                    self.timerComplete();
                    return;
                }
                self.currentTime -= self.incrementTime / 10;
                if (self.currentTime < 0) self.currentTime = 0;
            },
            this.timerComplete = function() {
                alert('Se pudrió la momia.');
            },
            this.askTime = function() {
                // Ajax que pregunta el tiempo
                this.currentTime = 6000;
            },
            this.init = function() {
                // Ajax que pregunta current time o que saca current time de algún lado.
                self.askTime()  // Current time está en centésimas de segundo.
                self._timer = $.timer(self.updateTimer, self.incrementTime, true);
            };
        }

        function ParseTweet(evt) {
            try {
                var arr = JSON.parse(evt.data);
                lastTimeout = (arr.length * freq) ;
                $("ultimoTweet").val(evt.last);
                var ip;
                for(ip=0; ip < arr.length; ip+=1) {
                     try {
                        var j = JSON.parse(arr[ip]);
                        console.log(j);
                        publicador(j, freq * ip);

                    } catch (e){
                        console.log(e);
                    }
               }
            } catch(e) {
                console.log(e);
            }
        };

        function publicador(json, timeout) {
            if (detener) return;
            setTimeout(function() {
                var $temp = $("#template").clone();
                $temp.attr("id", "");
                $temp.find(".user-text").html("<strong>" + json["user"]["name"]+ "</strong>");
                var str =  "@" +  json["user"]["screen_name"] ;
                if (json["user"]["location"] != undefined) {
                    str+= " (" + json["user"]["location"] + ")";
                }
                $temp.find(".user-name").html(str);
                $temp.find(".img-profile").attr("src", json["user"]["profile_image_url"]);
                $temp.find(".text").html(json["text"].linkify_tweet());
                $temp.find(".fecha").html(new Date(json["created_at"]).toLocaleDateString() + " " + new Date(json["created_at"]).toLocaleTimeString());
                if(json["retweet_count"] != undefined)
                    $temp.find(".retweet").html("<strong>RT: " + json["retweet_count"]+ "</strong>");
                try{
                    if(json["media"][0]["media_url"] != undefined)
                        $temp.find(".url-media").html("<img class='img-responsive img-rounded' src='" + json["media"][0]["media_url"] + "' />");
                } catch (e){}
                $temp.hide();
                //console.log("Time ->" + timeout);
                $("#tweets").prepend($temp);
                $temp.fadeIn(500);
            }, timeout);
        }
    </script>
    <script type="text/javascript">
    $(function () {
        $('#desk').cycle({
            fx:    'scrollRight',
            delay: -1000
        });

        var hack_timer = new HackTimer()
        hack_timer.init();
    })
    </script>
{% endblock %}
